@charset "UTF-8";
/******************************
 3RD PARTY PLUGIN CUSTOMIZATION 
******************************/
/* Cubic Bezier Transition */
/***
Bootstrap Colorpicker
***/
.input-group.color .input-group-btn i {
  position: absolute;
  display: block;
  cursor: pointer;
  width: 20px;
  height: 20px;
  right: 6px; }

.colorpicker.dropdown-menu {
  padding: 5px; }

/* change z-index when opened in modal */
.modal-open .colorpicker {
  z-index: 10055 !important; }


/***
Bootstrap Datepicker
***/
.datepicker.dropdown-menu {
  padding: 5px; }

.datepicker .selected {
  background-color: #909090 !important;
  background-image: none !important;
  filter: none !important; }

.datepicker .active {
  background-color: #4b8df8 !important;
  background-image: none !important;
  filter: none !important; }

.datepicker .active:hover {
  background-color: #2678FC !important;
  background-image: none !important;
  filter: none !important; }

.datepicker .input-daterange input {
  text-align: left; }

/* change z-index when opened in modal */
.modal-open .datepicker {
  z-index: 10055 !important; }

.datepicker table td {
  color: #000;
  font-weight: 300  !important;
  font-family: 'Open Sans' !important; }

.datepicker table th {
  color: #333;
  font-family: 'Open Sans' !important;
  font-weight: 400  !important; }

.datepicker.dropdown-menu {
  box-shadow: 5px 5px rgba(102, 102, 102, 0.1);
  border: 1px solid #efefef; }

.datepicker .fa-angle-left:before {
  content: ""/*rtl:""*/; }

.datepicker .fa-angle-right:before {
  content: ""/*rtl:""*/; }

/***
Bootstrap Daterangepicker
***/
.modal-open .daterangepicker {
  z-index: 10055 !important; }

.daterangepicker {
  margin-top: 4px; }
  .daterangepicker .input-mini {
    width: 100% !important;
    outline: none !important; }

.daterangepicker td {
  text-shadow: none; }

.daterangepicker td.active {
  background-color: #4b8df8;
  background-image: none;
  filter: none; }

.daterangepicker th {
  font-weight: 400;
  font-size: 14px; }

.daterangepicker .ranges input[type="text"] {
  width: 70px !important;
  font-size: 11px;
  vertical-align: middle; }

.daterangepicker .ranges label {
  font-weight: 300;
  display: block; }

.daterangepicker .ranges {
  width: 170px; }
  .daterangepicker .ranges ul > li.active {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px; }

.daterangepicker .ranges .btn {
  margin-top: 10px; }

.daterangepicker.dropdown-menu {
  padding: 5px; }

.daterangepicker .ranges li {
  color: #333; }

.daterangepicker .ranges li.active,
.daterangepicker .ranges li:hover {
  background: #4b8df8 !important;
  border: 1px solid #4b8df8 !important;
  color: #fff; }

.daterangepicker .range_inputs input {
  margin-bottom: 0 !important; }

.daterangepicker .fa-angle-right:before {
  content: ""/*rtl:""*/; }

.daterangepicker .fa-angle-left:before {
  content: ""/*rtl:""*/; }

/***
Bootstrap  Datetimepicker
***/
.datetimepicker table td {
  color: #000;
  font-weight: 300  !important;
  font-family: 'Open Sans' !important; }

.datetimepicker table th {
  font-family: 'Open Sans' !important;
  font-weight: 400  !important; }

.datetimepicker.dropdown-menu {
  padding: 5px; }

.datetimepicker .active {
  background-color: #4b8df8 !important;
  background-image: none !important;
  filter: none !important; }

.datetimepicker .active:hover {
  background-color: #2678FC !important;
  background-image: none !important;
  filter: none !important; }

.datetimepicker .fa-angle-left:before {
  content: ""/*rtl:""*/; }

.datetimepicker .fa-angle-right:before {
  content: ""/*rtl:""*/; }

/* change z-index when opened in modal */
.modal-open .datetimepicker {
  z-index: 10055; }

/***
Jansy File Input plugin css changes
***/
.fileinput {
  margin-bottom: 0; }
  .fileinput .close {
    float: none; }
  .fileinput .input-group {
    white-space: nowrap;
    overflow: hidden; }


/***
Bootstrap Modal
***/
/* fix: content shifting to the right on modal open */
.modal-open.page-overflow .page-container,
.modal-open.page-overflow .page-container .navbar-fixed-top,
.modal-open.page-overflow .page-container .navbar-fixed-bottom,
.modal-open.page-overflow .modal-scrollable {
  overflow-y: auto !important; }

.modal-scrollable {
  overflow: hidden !important; }

/* BS 3.3.1 fix */
.modal-backdrop {
  position: fixed;
  bottom: 0; }

.modal-scrollable {
  overflow: hidden !important;
  z-index: 10051;
  overflow-y: scroll !important; }

/***
Bootstrap Select
***/
.bootstrap-select .btn {
  border-color: #c2cad8; }

.has-error .bootstrap-select .btn {
  border-color: #fbe1e3; }

.has-success .bootstrap-select .btn {
  border-color: #abe7ed; }

.has-warning .bootstrap-select .btn {
  border-color: #f9e491; }

.bootstrap-select.open .btn {
  border-color: #93a1bb; }

.bootstrap-select.open.dropup .btn {
  border-color: #93a1bb; }

.bootstrap-select .btn:focus {
  outline: none !important;
  outline-offset: 0; }

.bootstrap-select.btn-group .dropdown-menu {
  margin-top: 1px; }

.bootstrap-select.btn-group .dropdown-menu > li > dt > .text {
  font-weight: 600;
  font-family: 'Open Sans';
  font-size: 14px; }

.bootstrap-select.btn-group .dropdown-menu .text-muted {
  color: #999 !important; }

.bootstrap-select .caret {
  border: 0;
  width: auto;
  height: auto;
  margin-top: -10px !important; }

.bootstrap-select .caret:before {
  content: "\f107";
  display: inline-block;
  border: 0;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal; }

.bootstrap-select .selected i {
  color: #aaa; }

.bootstrap-select .dropdown-menu {
  z-index: 9999 !important; }

/***
Bootstrap Switch 
***/
.bootstrap-switch {
  border-color: #c2cad8; }
  .bootstrap-switch.bootstrap-switch-focused {
    box-shadow: none;
    border-color: #c2cad8; }

/***
Color variants
***/
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary {
  color: #fff;
  background: #337ab7; }

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-info,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-info {
  color: #fff;
  background: #659be0; }

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-success,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-success {
  color: #fff;
  background: #36c6d3; }

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-warning,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-warning {
  color: #fff;
  background: #F1C40F; }

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-danger,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-danger {
  color: #fff;
  background: #ed6b75; }

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-default,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default {
  color: #444;
  background: #e8eaef; }

/* Bootstrap switch on portlet headers */
.portlet:not(.light) > .portlet-title > .actions > .bootstrap-switch {
  border-color: transparent;
  margin-top: 0px; }

/***
Bootstrap Time Picker
***/
.bootstrap-timepicker-widget table td a {
  padding: 4px 0; }

.bootstrap-timepicker-widget input,
.bootstrap-timepicker-widget input:focus {
  outline: none !important;
  border: 0; }

.modal-open .bootstrap-timepicker-widget {
  z-index: 10055 !important; }

.bootstrap-timepicker-widget.timepicker-orient-bottom:before,
.bootstrap-timepicker-widget.timepicker-orient-bottom:after {
  top: auto; }

/***
Toastr Notifications
***/
.toast {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important; }

.toast {
  background-color: #030303; }

.toast-success {
  background-color: #51a351; }

.toast-error {
  background-color: #bd362f; }

.toast-info {
  background-color: #2f96b4; }

.toast-warning {
  background-color: #f89406; }

.toast .toast-close-button {
  display: inline-block;
  margin-top: 0px;
  margin-right: 0px;
  text-indent: -100000px;
  width: 11px;
  height: 16px;
  background-repeat: no-repeat !important;
  background-image: url("../img/portlet-remove-icon-white.png") !important; }

.toast-top-center {
  top: 12px;
  margin: 0 auto;
  left: 50%;
  margin-left: -150px; }
  .toast-top-center .toast {
    margin: 0 !important; }

.toast-bottom-center {
  bottom: 12px;
  margin: 0 auto;
  left: 50%;
  margin-left: -150px; }
  .toast-bottom-center .toast {
    margin: 0 !important; }

/***
Bootstrap Wizard
***/
.form-wizard .progress {
  margin-bottom: 30px; }

.form-wizard .steps {
  padding: 10px 0;
  margin-bottom: 15px;
  background-color: #fff;
  background-image: none;
  filter: none;
  border: 0px;
  box-shadow: none; }
  .form-wizard .steps > li > a.step {
    background-color: #fff;
    background-image: none;
    filter: none;
    border: 0px;
    box-shadow: none; }
    .form-wizard .steps > li > a.step:hover {
      background: none; }
    .form-wizard .steps > li > a.step > .number {
      background-color: #eee;
      display: inline-block;
      text-align: center !important;
      font-size: 16px;
      font-weight: 300;
      padding: 11px 15px 13px 15px;
      margin-right: 10px;
      height: 45px;
      width: 45px;
      -webkit-border-radius: 50% !important;
      -moz-border-radius: 50% !important;
      border-radius: 50% !important; }
    .form-wizard .steps > li > a.step > .desc {
      display: inline-block;
      font-size: 16px;
      font-weight: 300; }
      .form-wizard .steps > li > a.step > .desc > i {
        display: none; }
  .form-wizard .steps > li.active > a.step .number {
    background-color: #36c6d3;
    color: #fff; }
  .form-wizard .steps > li.active > a.step .desc {
    color: #333; }
  .form-wizard .steps > li.done > a.step .number {
    background-color: #F1C40F;
    color: #fff; }
  .form-wizard .steps > li.done > a.step .desc {
    color: #333; }
    .form-wizard .steps > li.done > a.step .desc i {
      font-size: 12px;
      font-weight: normal;
      color: #999;
      display: inline-block; }

@media (min-width: 768px) and (max-width: 1200px) {
  /* 768px & 1200px */
  .form-wizard .step .desc {
    margin-top: 10px;
    display: block; } }

@media (max-width: 768px) {
  /* 768px */
  .form-wizard .steps > li > a {
    text-align: left; } }

/*!
 * Tab drop for Bootstrap
 */
.tabbable-tabdrop .nav-tabs,
.tabbable-tabdrop .nav-pills {
  position: relative; }
  .tabbable-tabdrop .nav-tabs .caret,
  .tabbable-tabdrop .nav-pills .caret {
    display: none; }
  .tabbable-tabdrop .nav-tabs .tabdrop .dropdown-toggle i,
  .tabbable-tabdrop .nav-pills .tabdrop .dropdown-toggle i {
    font-size: 14px; }

.tabbable-tabdrop .dropdown-menu:after {
  right: 10px;
  left: auto; }

.tabbable-tabdrop .dropdown-menu:before {
  right: 9px;
  left: auto; }


/***
Modify bootstrap-tagsinput plugin's css
***/
.bootstrap-tagsinput .tag [data-role="remove"] {
  box-shadow: none;
  font-family: arial; }
  .bootstrap-tagsinput .tag [data-role="remove"]:after {
    font-family: arial; }
  .bootstrap-tagsinput .tag [data-role="remove"]:hover {
    text-decoration: none;
    box-shadow: none; }


/***
Fancy box fix overlay fix
***/
.fancybox-overlay {
  z-index: 100000; }

.fancybox-opened {
  z-index: 100001; }


.fc-scroller {
  overflow-y: auto;
  overflow-x: hidden; }

.fc-month-view .fc-scroller {
  height: auto !important; }

.portlet .event-form-title {
  font-size: 16px;
  margin-top: 4px;
  font-weight: 400;
  margin-bottom: 10px; }

.portlet.calendar .fc-button {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
  border: 0;
  height: 35px;
  padding: 5px 8px 8px 8px;
  margin-left: 2px;
  border-top-style: none;
  border-bottom-style: none;
  border-right-style: solid;
  border-left-style: solid;
  border-color: #ddd;
  background: transparent;
  color: #fff;
  top: -48px;
  outline: none !important;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0; }

.portlet.calendar .fc-toolbar {
  margin-bottom: 0px; }
  .portlet.calendar .fc-toolbar h2 {
    margin-top: 3px;
    font-size: 17px; }

.portlet.calendar .fc-header {
  margin-bottom: -21px; }

.portlet.calendar .fc-button-prev {
  padding-right: 10px;
  padding-left: 8px; }

.portlet.calendar .fc-button-next {
  padding-right: 8px;
  padding-left: 10px; }

.portlet.calendar .fc-button .fc-icon {
  height: 20px;
  top: -5px; }

.portlet.calendar .fc-button.fc-state-active,
.portlet.calendar .fc-button.fc-state-hover {
  color: #666;
  background-color: #fff; }

.portlet.calendar .fc-button.fc-state-disabled {
  color: #ddd; }

.portlet.calendar .fc-button .fc-icon-left-single-arrow {
  font-family: FontAwesome;
  display: inline-block;
  font-size: 16px; }
  .portlet.calendar .fc-button .fc-icon-left-single-arrow:after {
    content: "";
    margin: 0; }
  .portlet.calendar .fc-button .fc-icon-left-single-arrow:before {
    content: "\f104"; }

.portlet.calendar .fc-button .fc-icon-right-single-arrow {
  font-family: FontAwesome;
  display: inline-block;
  font-size: 16px; }
  .portlet.calendar .fc-button .fc-icon-right-single-arrow:after {
    margin: 0;
    content: ""; }
  .portlet.calendar .fc-button .fc-icon-right-single-arrow:before {
    content: "\f105"; }

.portlet.calendar .fc-text-arrow {
  font-size: 22px;
  font-family: "Courier New", Courier, monospace;
  vertical-align: baseline; }

.portlet.calendar .fc-event {
  border: 0px;
  background-color: #69a4e0;
  color: #fff; }
  .portlet.calendar .fc-event .fc-content {
    border: 0px;
    padding: 5px 7px; }
  .portlet.calendar .fc-event .fc-time {
    float: left;
    text-align: left;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    padding-right: 5px; }
  .portlet.calendar .fc-event .fc-title {
    text-align: left;
    float: left;
    color: #fff;
    font-size: 14px;
    font-weight: 300; }

.portlet.calendar .fc-header-title h2 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #111; }

.portlet.calendar .fc-widget-header {
  background-image: none;
  filter: none;
  background-color: #eee;
  text-transform: uppercase;
  font-weight: 300; }

.portlet.calendar.light .fc-button {
  top: -60px;
  color: #666;
  text-transform: uppercase;
  font-size: 12px;
  padding-bottom: 35px; }
  .portlet.calendar.light .fc-button .fc-text-arrow {
    margin-top: -6px;
    display: inline-block; }
  .portlet.calendar.light .fc-button.fc-state-active,
  .portlet.calendar.light .fc-button.fc-state-hover {
    color: #333;
    border-bottom: 2px solid #36c6d3; }
  .portlet.calendar.light .fc-button.fc-state-disabled {
    color: #aaa; }

.portlet.calendar .mobile .fc-button {
  padding: 0px 6px 20px 6px;
  margin-left: 2px;
  border: 0;
  background-color: #ddd;
  background-image: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  color: #000;
  text-shadow: none;
  text-align: center; }
  .portlet.calendar .mobile .fc-button.fc-state-hover,
  .portlet.calendar .mobile .fc-button.fc-state-active {
    background-color: #eee; }
  .portlet.calendar .mobile .fc-button.fc-state-disabled {
    color: #bbb; }

.portlet.calendar .mobile .fc-button-prev {
  margin-right: 5px;
  margin-top: -2px; }

.portlet.calendar .mobile .fc-button-next {
  margin-right: -0px;
  margin-top: -2px; }

.portlet.calendar .mobile .fc-header-space {
  margin: 0px;
  padding: 0px;
  width: 0px; }

.portlet.calendar .mobile .fc-header-left {
  position: absolute;
  z-index: 10; }
  .portlet.calendar .mobile .fc-header-left .fc-button {
    top: -2px; }

.portlet.calendar .mobile .fc-header-right {
  position: relative;
  right: 0; }
  .portlet.calendar .mobile .fc-header-right .fc-button {
    top: 35px; }

.portlet.calendar .mobile .fc-content {
  margin-top: 53px; }


/***
jQuery File Upload
***/
.blueimp-gallery .close {
  background-image: url("../img/portlet-remove-icon-white.png") !important;
  margin-top: -2px; }

.blueimp-gallery .prev,
.blueimp-gallery .next {
  border-radius: 23px !important; }



/***
jQuery Uniform
***/
.checker {
  margin-top: -2px !important;
  margin-right: 2px !important; }

.checker input,
.radio input {
  outline: none !important; }

div.checker.disabled span,
div.checker.disabled.active span {
  background-position: -152px -260px; }

div.checker.disabled:hover,
div.radio.disabled:hover {
  cursor: not-allowed; }

div.radio,
div.checker {
  margin-right: 0;
  margin-left: 3px; }


/***
Prism Plugin
***/
pre[class*="language-"] {
  padding: 10px;
  background: none !important;
  border: 1px solid #f1f4f7 !important;
  box-shadow: none !important;
  margin: 0; }
  pre[class*="language-"] code {
    background: none !important;
    box-shadow: none !important;
    border: 0 !important; }