<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->

    <head>
        <meta charset="utf-8" />
        <title>SuperMgr前端框架</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="" name="description" />
        <meta content="" name="author" />
        <!--全局通用框架样式 begin-->
        <!-- 全局基本样式 -->
        <link href="../content/superui/min/css/superui.common.min.css" rel="stylesheet" />
        <!-- 全局主题样式 -->
        <link href="../content/superui/global/css/components.min.css" id="style_components" rel="stylesheet" />
        <link href="../content/superui/pages/layouts/css/themes/darkblue.min.css" rel="stylesheet" type="text/css" id="style_color" />
        <!--全局通用框架样式 end-->
    <body>
        <div class="page-container">
            <div class="page-content">
                <div class="row">
                    <div class="col-md-6">
                        <div class="portlet light portlet-fit bordered">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="icon-microphone font-green"></i>
                                    <span class="caption-subject bold font-green uppercase"> 时间轴 1</span>
                                    <span class="caption-helper">默认效果...</span>
                                </div>
                                <div class="actions">
                                    <div class="btn-group btn-group-devided" data-toggle="buttons">
                                        <label class="btn red btn-outline btn-circle btn-sm active">
                                            <input type="radio" name="options" class="toggle" id="option1">设置</label>
                                        <label class="btn  red btn-outline btn-circle btn-sm">
                                            <input type="radio" name="options" class="toggle" id="option2">工具</label>
                                    </div>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="timeline">
                                    <!-- TIMELINE ITEM -->
                                    <div class="timeline-item">
                                        <div class="timeline-badge">
                                            <img class="timeline-badge-userpic" src="../content/superui/global/img/photos/girl1.png"> </div>
                                        <div class="timeline-body">
                                            <div class="timeline-body-arrow"> </div>
                                            <div class="timeline-body-head">
                                                <div class="timeline-body-head-caption">
                                                    <a href="javascript:;" class="timeline-body-title font-blue-madison">虎哥</a>
                                                    <span class="timeline-body-time font-grey-cascade">2016-3-22</span>
                                                </div>
                                                <div class="timeline-body-head-actions">
                                                    <div class="btn-group">
                                                        <button class="btn btn-circle green btn-sm dropdown-toggle" type="button" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"> 动作
                                                            <i class="fa fa-angle-down"></i>
                                                        </button>
                                                        <ul class="dropdown-menu pull-right" role="menu">
                                                            <li>
                                                                <a href="javascript:;">查看 </a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:;">编辑 </a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:;">勾搭他 </a>
                                                            </li>
                                                            <li class="divider"> </li>
                                                            <li>
                                                                <a href="javascript:;">其他设置 </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="timeline-body-content">
                                                <span class="font-grey-cascade"> 虎哥发布SuperUI第一版！</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END TIMELINE ITEM -->
                                    <!-- TIMELINE ITEM -->
                                    <div class="timeline-item">
                                        <div class="timeline-badge">
                                            <img class="timeline-badge-userpic" src="../content/superui/global/img/photos/girl2.png"> </div>
                                        <div class="timeline-body">
                                            <div class="timeline-body-arrow"> </div>
                                            <div class="timeline-body-head">
                                                <div class="timeline-body-head-caption">
                                                    <a href="javascript:;" class="timeline-body-title font-blue-madison">豹哥</a>
                                                    <span class="timeline-body-time font-grey-cascade">2016-3-22</span>
                                                </div>
                                                <div class="timeline-body-head-actions"> </div>
                                            </div>
                                            <div class="timeline-body-content">
                                                <span class="font-grey-cascade">
                                                    <p>
                                                        <img class="timeline-body-img pull-right" src="../content/superui/global/img/photos/girl3.png" alt="" /> 豹发布SuperUI第一版！右边的花! </p>
                                                    <p> 豹发布SuperUI第一版！右边的花!豹发布SuperUI第一版！右边的花!豹发布SuperUI第一版！右边的花!豹发布SuperUI第一版！右边的花!豹发布SuperUI第一版！右边的花!豹发布SuperUI第一版！右边的花!豹发布SuperUI第一版！右边的花!</p>
                                                    <p>
                                                        <img class="timeline-body-img pull-left" src="../content/superui/global/img/photos/girl4.png" alt="" /> 左边的花！豹发布SuperUI第一版！右边的花!豹发布SuperUI第一版！右边的花!豹发布SuperUI第一版！右边的花!豹发布SuperUI第一版！右边的花!豹发布SuperUI第一版！右边的花!</p>
                                                    <p> 发布啦发布啦！！！！ </p>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END TIMELINE ITEM -->
                                    <!-- TIMELINE ITEM WITH GOOGLE MAP -->
                                    <div class="timeline-item">
                                        <div class="timeline-badge">
                                            <img class="timeline-badge-userpic" src="../content/superui/global/img/photos/girl1.png"> </div>
                                        <div class="timeline-body">
                                            <div class="timeline-body-arrow"> </div>
                                            <div class="timeline-body-head">
                                                <div class="timeline-body-head-caption">
                                                    <a href="javascript:;" class="timeline-body-title font-blue-madison">龙哥</a>
                                                    <span class="timeline-body-time font-grey-cascade">2016-3-22</span>
                                                </div>
                                                <div class="timeline-body-head-actions">
                                                    <div class="btn-group">
                                                        <button class="btn btn-circle white btn-sm dropdown-toggle" type="button" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"> 动作
                                                            <i class="fa fa-angle-down"></i>
                                                        </button>
                                                        <ul class="dropdown-menu pull-right" role="menu">
                                                            <li>
                                                                <a href="javascript:;">查看 </a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:;">编辑 </a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:;">勾搭他 </a>
                                                            </li>
                                                            <li class="divider"> </li>
                                                            <li>
                                                                <a href="javascript:;">其他设置 </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="timeline-body-content"> SuperUI发布啦！ SuperUI发布啦！ SuperUI发布啦！ SuperUI发布啦！ SuperUI发布啦！ </div>
                                        </div>
                                    </div>
                                    <!-- END TIMELINE ITEM WITH GOOGLE MAP -->
                                    <!-- TIMELINE ITEM -->
                                    <div class="timeline-item">
                                        <div class="timeline-badge">
                                            <div class="timeline-icon">
                                                <i class="icon-user-following font-green-haze"></i>
                                            </div>
                                        </div>
                                        <div class="timeline-body">
                                            <div class="timeline-body-arrow"> </div>
                                            <div class="timeline-body-head">
                                                <div class="timeline-body-head-caption">
                                                    <span class="timeline-body-alerttitle font-red-intense">小王</span>
                                                    <span class="timeline-body-time font-grey-cascade">2016-3-22 16:00</span>
                                                </div>
                                                <div class="timeline-body-head-actions">
                                                    <div class="btn-group">
                                                        <button class="btn btn-circle green btn-outline

                               btn-sm dropdown-toggle" type="button" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"> Actions
                                                            <i class="fa fa-angle-down"></i>
                                                        </button>
                                                        <ul class="dropdown-menu pull-right" role="menu">
                                                            <li>
                                                                <a href="javascript:;">动作 </a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:;">编辑 </a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:;">查看</a>
                                                            </li>
                                                            <li class="divider"> </li>
                                                            <li>
                                                                <a href="javascript:;">打印</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="timeline-body-content">
                                                <span class="font-grey-cascade"> 小张
                                                    <a href="javascript:;">小李</a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END TIMELINE ITEM -->
                                    <!-- TIMELINE ITEM -->
                                    <div class="timeline-item">
                                        <div class="timeline-badge">
                                            <img class="timeline-badge-userpic" src="../content/superui/global/img/photos/girl2.png"> </div>
                                        <div class="timeline-body">
                                            <div class="timeline-body-arrow"> </div>
                                            <div class="timeline-body-head">
                                                <div class="timeline-body-head-caption">
                                                    <a href="javascript:;" class="timeline-body-title font-blue-madison">张总</a>
                                                    <span class="timeline-body-time font-grey-cascade">2016-3-22 13:00</span>
                                                </div>
                                                <div class="timeline-body-head-actions"> </div>
                                            </div>
                                            <div class="timeline-body-content">
                                                <span class="font-grey-cascade"> SuperUI发布啦！ SuperUI发布啦！ SuperUI发布啦！ SuperUI发布啦！ SuperUI发布啦！ SuperUI发布啦！ SuperUI发布啦！ SuperUI发布啦！ </span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END TIMELINE ITEM -->
                                    <!-- TIMELINE ITEM -->
                                    <div class="timeline-item">
                                        <div class="timeline-badge">
                                            <img class="timeline-badge-userpic img-circle" src="../content/superui/global/img/photos/girl3.png"> </div>
                                        <div class="timeline-body">
                                            <div class="timeline-body-arrow"> </div>
                                            <div class="timeline-body-head">
                                                <div class="timeline-body-head-caption">
                                                    <a href="javascript:;" class="timeline-body-title font-blue-madison">王总</a>
                                                    <span class="timeline-body-time font-grey-cascade">2016-3-22 下午</span>
                                                </div>
                                                <div class="timeline-body-head-actions"> </div>
                                            </div>
                                            <div class="timeline-body-content">
                                                <span class="font-grey-cascade">
                                                    <p>
                                                        <img class="timeline-body-img pull-right" src="../content/superui/global/img/photos/girl4.png" alt=""> SuperUI发布啦！ SuperUI发布啦！ SuperUI发布啦！ SuperUI发布啦！ SuperUI发布啦！ SuperUI发布啦！ SuperUI发布啦！</p>
                                                    <p> SuperUI发布啦！ SuperUI发布啦！ SuperUI发布啦！ SuperUI发布啦！ SuperUI发布啦！ SuperUI发布啦！ SuperUI发布啦！ SuperUI发布啦！ SuperUI发布啦！</p>
                                                    <p>
                                                        <img class="timeline-body-img pull-left" src="../content/superui/global/img/photos/girl1.png" alt=""> SuperUI发布啦！ SuperUI发布啦！ SuperUI发布啦！ SuperUI发布啦！ SuperUI发布啦！ SuperUI发布啦！ </p>
                                                    <p> SuperUI发布啦！ SuperUI发布啦！ SuperUI发布啦！ SuperUI发布啦！ SuperUI发布啦！ SuperUI发布啦！ SuperUI发布啦！ SuperUI发布啦！ SuperUI发布啦！</p>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END TIMELINE ITEM -->
                                    <!-- TIMELINE ITEM -->
                                    <div class="timeline-item">
                                        <div class="timeline-badge">
                                            <div class="timeline-icon">
                                                <i class="icon-docs font-red-intense"></i>
                                            </div>
                                        </div>
                                        <div class="timeline-body">
                                            <div class="timeline-body-arrow"> </div>
                                            <div class="timeline-body-head">
                                                <div class="timeline-body-head-caption">
                                                    <span class="timeline-body-alerttitle font-green-haze">服务器报表</span>
                                                    <span class="timeline-body-time font-grey-cascade">昨天 2016-3-22 16:00</span>
                                                </div>
                                                <div class="timeline-body-head-actions">
                                                    <div class="btn-group dropup">
                                                        <button class="btn btn-circle red btn-sm dropdown-toggle" type="button" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"> 动作
                                                            <i class="fa fa-angle-down"></i>
                                                        </button>
                                                        <ul class="dropdown-menu pull-right" role="menu">
                                                            <li>
                                                                <a href="javascript:;">动作 </a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:;">编辑 </a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:;">查看</a>
                                                            </li>
                                                            <li class="divider"> </li>
                                                            <li>
                                                                <a href="javascript:;">打印</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="timeline-body-content">
                                                <span class="font-grey-cascade"> 小王
                                                    <a href="javascript:;">小王</a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END TIMELINE ITEM -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portlet light portlet-fit bg-inverse ">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="icon-microphone font-red"></i>
                                    <span class="caption-subject bold font-red uppercase"> 时间轴 2</span>
                                    <span class="caption-helper">白色背景...</span>
                                </div>
                                <div class="actions">
                                    <div class="btn-group btn-group-devided" data-toggle="buttons">
                                        <label class="btn btn-transparent dark btn-outline btn-circle btn-sm active">
                                            <input type="radio" name="options" class="toggle" id="option1">动作</label>
                                        <label class="btn btn-transparent dark btn-outline btn-circle btn-sm">
                                            <input type="radio" name="options" class="toggle" id="option2">设置</label>
                                    </div>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="timeline  white-bg ">
                                    <!-- TIMELINE ITEM -->
                                    <div class="timeline-item">
                                        <div class="timeline-badge">
                                            <img class="timeline-badge-userpic" src="../content/superui/global/img/photos/girl2.png"> </div>
                                        <div class="timeline-body">
                                            <div class="timeline-body-arrow"> </div>
                                            <div class="timeline-body-head">
                                                <div class="timeline-body-head-caption">
                                                    <a href="javascript:;" class="timeline-body-title font-blue-madison">王先生</a>
                                                    <span class="timeline-body-time font-grey-cascade">晚上 2016 3-24 18:00</span>
                                                </div>
                                                <div class="timeline-body-head-actions">
                                                    <div class="btn-group">
                                                        <button class="btn btn-circle green btn-outline btn-sm dropdown-toggle" type="button" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"> 动作
                                                            <i class="fa fa-angle-down"></i>
                                                        </button>
                                                        <ul class="dropdown-menu pull-right" role="menu">
                                                            <li>
                                                                <a href="javascript:;">动作 </a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:;">编辑 </a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:;">查看</a>
                                                            </li>
                                                            <li class="divider"> </li>
                                                            <li>
                                                                <a href="javascript:;">打印</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="timeline-body-content">
                                                <span class="font-grey-cascade"> SuperUI发布啦！ SuperUI发布啦！ SuperUI发布啦！ SuperUI发布啦！ SuperUI发布啦！ SuperUI发布啦！ SuperUI发布啦！ SuperUI发布啦！ SuperUI发布啦！ SuperUI发布啦！ SuperUI发布啦！ SuperUI发布啦！ </span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END TIMELINE ITEM -->
                                    <!-- TIMELINE ITEM -->
                                    <div class="timeline-item">
                                        <div class="timeline-badge">
                                            <img class="timeline-badge-userpic" src="../content/superui/global/img/photos/girl3.png"> </div>
                                        <div class="timeline-body">
                                            <div class="timeline-body-arrow"> </div>
                                            <div class="timeline-body-head">
                                                <div class="timeline-body-head-caption">
                                                    <a href="javascript:;" class="timeline-body-title font-blue-madison">王总</a>
                                                    <span class="timeline-body-time font-grey-cascade">2016-3-22 下午</span>
                                                </div>
                                                <div class="timeline-body-head-actions"> </div>
                                            </div>
                                            <div class="timeline-body-content">
                                                <span class="font-grey-cascade">
                                                    <p>
                                                        <img class="timeline-body-img pull-right" src="../content/superui/global/img/photos/girl4.png" alt=""> SuperUI发布啦！ SuperUI发布啦！ SuperUI发布啦！ SuperUI发布啦！ SuperUI发布啦！ SuperUI发布啦！ SuperUI发布啦！ SuperUI发布啦！ SuperUI发布啦！ SuperUI发布啦！ SuperUI发布啦！ SuperUI发布啦！ SuperUI发布啦！ </p>
                                                    <p> SuperUI发布啦！ SuperUI发布啦！ SuperUI发布啦！ SuperUI发布啦！ SuperUI发布啦！ </p>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END TIMELINE ITEM -->
                                    <!-- TIMELINE ITEM WITH GOOGLE MAP -->
                                    <div class="timeline-item">
                                        <div class="timeline-badge">
                                            <img class="timeline-badge-userpic" src="../content/superui/global/img/photos/girl1.png"> </div>
                                        <div class="timeline-body">
                                            <div class="timeline-body-arrow"> </div>
                                            <div class="timeline-body-head">
                                                <div class="timeline-body-head-caption">
                                                    <a href="javascript:;" class="timeline-body-title font-blue-madison">赵总</a>
                                                    <span class="timeline-body-time font-grey-cascade">2016 3-22 12:00</span>
                                                </div>
                                                <div class="timeline-body-head-actions">
                                                    <div class="btn-group">
                                                        <button class="btn btn-circle red btn-sm dropdown-toggle" type="button" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"> 动作
                                                            <i class="fa fa-angle-down"></i>
                                                        </button>
                                                        <ul class="dropdown-menu pull-right" role="menu">
                                                            <li>
                                                                <a href="javascript:;">动作 </a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:;">编辑 </a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:;">查看</a>
                                                            </li>
                                                            <li class="divider"> </li>
                                                            <li>
                                                                <a href="javascript:;">打印</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="timeline-body-content"> SuperUI发布啦！ </div>
                                        </div>
                                    </div>
                                    <!-- END TIMELINE ITEM WITH GOOGLE MAP -->
                                    <!-- TIMELINE ITEM -->
                                    <div class="timeline-item">
                                        <div class="timeline-badge">
                                            <div class="timeline-icon">
                                                <i class="icon-user-following font-green-haze"></i>
                                            </div>
                                        </div>
                                        <div class="timeline-body">
                                            <div class="timeline-body-arrow"> </div>
                                            <div class="timeline-body-head">
                                                <div class="timeline-body-head-caption">
                                                    <span class="timeline-body-alerttitle font-red-intense">小张</span>
                                                    <span class="timeline-body-time font-grey-cascade">2016-3-22 16:00</span>
                                                </div>
                                                <div class="timeline-body-head-actions">
                                                    <div class="btn-group">
                                                        <button class="btn btn-circle green btn-outline

                               btn-sm dropdown-toggle" type="button" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"> 动作
                                                            <i class="fa fa-angle-down"></i>
                                                        </button>
                                                        <ul class="dropdown-menu pull-right" role="menu">
                                                            <li>
                                                                <a href="javascript:;">动作 </a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:;">编辑 </a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:;">查看</a>
                                                            </li>
                                                            <li class="divider"> </li>
                                                            <li>
                                                                <a href="javascript:;">打印</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="timeline-body-content">
                                                <span class="font-grey-cascade"> 小张
                                                    <a href="javascript:;">小李</a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END TIMELINE ITEM -->
                                    <!-- TIMELINE ITEM -->
                                    <div class="timeline-item">
                                        <div class="timeline-badge">
                                            <img class="timeline-badge-userpic" src="../content/superui/global/img/photos/girl3.png"> </div>
                                        <div class="timeline-body">
                                            <div class="timeline-body-arrow"> </div>
                                            <div class="timeline-body-head">
                                                <div class="timeline-body-head-caption">
                                                    <a href="javascript:;" class="timeline-body-title font-blue-madison">张总</a>
                                                    <span class="timeline-body-time font-grey-cascade">2016-3-22 13:00</span>
                                                </div>
                                                <div class="timeline-body-head-actions"> </div>
                                            </div>
                                            <div class="timeline-body-content">
                                                <span class="font-grey-cascade"> SuperUI发布啦！ SuperUI发布啦！ SuperUI发布啦！ SuperUI发布啦！ SuperUI发布啦！ SuperUI发布啦！ </span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END TIMELINE ITEM -->
                                    <!-- TIMELINE ITEM -->
                                    <div class="timeline-item">
                                        <div class="timeline-badge">
                                            <img class="timeline-badge-userpic img-circle" src="../content/superui/global/img/photos/girl4.png"> </div>
                                        <div class="timeline-body">
                                            <div class="timeline-body-arrow"> </div>
                                            <div class="timeline-body-head">
                                                <div class="timeline-body-head-caption">
                                                    <a href="javascript:;" class="timeline-body-title font-blue-madison">王总</a>
                                                    <span class="timeline-body-time font-grey-cascade">2016-3-22 下午</span>
                                                </div>
                                                <div class="timeline-body-head-actions"> </div>
                                            </div>
                                            <div class="timeline-body-content">
                                                <span class="font-grey-cascade">
                                                    <p>
                                                        <img class="timeline-body-img pull-right" src="../content/superui/global/img/photos/girl1.png" alt=""> SuperUI发布啦！ SuperUI发布啦！ SuperUI发布啦！ SuperUI发布啦！ SuperUI发布啦！ SuperUI发布啦！ SuperUI发布啦！ SuperUI发布啦！ SuperUI发布啦！</p>
                                                    <p> SuperUI发布啦！ SuperUI发布啦！ SuperUI发布啦！ SuperUI发布啦！ SuperUI发布啦！ SuperUI发布啦！ SuperUI发布啦！ SuperUI发布啦！ </p>
                                                    <p>
                                                        <img class="timeline-body-img pull-left" src="../content/superui/global/img/photos/girl2.png" alt=""> SuperUI发布啦！ SuperUI发布啦！ SuperUI发布啦！ SuperUI发布啦！ SuperUI发布啦！ SuperUI发布啦！ SuperUI发布啦！ SuperUI发布啦！ SuperUI发布啦！</p>
                                                    <p> SuperUI发布啦！ SuperUI发布啦！ SuperUI发布啦！ SuperUI发布啦！ SuperUI发布啦！ SuperUI发布啦！ SuperUI发布啦！ </p>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END TIMELINE ITEM -->
                                    <!-- TIMELINE ITEM -->
                                    <div class="timeline-item">
                                        <div class="timeline-badge">
                                            <div class="timeline-icon">
                                                <i class="icon-docs font-red-intense"></i>
                                            </div>
                                        </div>
                                        <div class="timeline-body">
                                            <div class="timeline-body-arrow"> </div>
                                            <div class="timeline-body-head">
                                                <div class="timeline-body-head-caption">
                                                    <span class="timeline-body-alerttitle font-green-haze">Server Report</span>
                                                    <span class="timeline-body-time font-grey-cascade">昨天 2016-3-22 16:00</span>
                                                </div>
                                                <div class="timeline-body-head-actions">
                                                    <div class="btn-group dropup">
                                                        <button class="btn btn-circle red btn-sm dropdown-toggle" type="button" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"> 动作
                                                            <i class="fa fa-angle-down"></i>
                                                        </button>
                                                        <ul class="dropdown-menu pull-right" role="menu">
                                                            <li>
                                                                <a href="javascript:;">动作 </a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:;">编辑 </a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:;">查看</a>
                                                            </li>
                                                            <li class="divider"> </li>
                                                            <li>
                                                                <a href="javascript:;">打印</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="timeline-body-content">
                                                <span class="font-grey-cascade"> 小王
                                                    <a href="javascript:;">小王</a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END TIMELINE ITEM -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END CONTENT BODY -->
        </div>
        <!--[if lt IE 9]>
    <script src="../content/superui/base/base-core/excanvas.min.js"></script>
    <script src="../content/superui/base/base-core/respond.min.js"></script>
    <![endif]-->
        <!-- 全局公共类库Begin -->
        <script src="../content/superui/min/js/superui.common.min.js"></script>

       
    </body>

</html>